# Iteration 3

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Data Understanding

### 1.1 Analyzing and merging datasets

In [64]:
df1 = pd.read_csv('set15_it2_final.csv')

In [66]:
df2 = pd.read_csv('set15_it3.csv')

In [68]:
df1

,Unnamed: 0.1,Unnamed: 0,DI_x,TradeValue,RealmType,Enclave,LivingQuarters,ParcelSize (sqft),DI_y,StructuralIntegrity,ExteriorCharm,MonthlyPayment,AffordableDwelling,Prediction
0,0,0,0,149500.0,Meadowlands,Dragonspire,1157.0,12160.0,0,4,Common,570.988693,True,1
1,1,1,1,105000.0,GnomeBurough,Petalbridge,772.0,3960.0,1,8,Common,401.028848,True,1
2,2,2,2,79275.0,Meadowlands,Shadowmere,664.0,8172.0,2,5,Common,302.776780,True,1
3,3,3,3,140000.0,Meadowlands,Emberfall,1231.0,13825.0,3,6,Common,534.705131,True,1
4,4,4,4,150909.0,GnomeBurough,Mystvale,1406.0,9060.0,4,6,Common,576.370119,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,2333,2358,2335,184500.0,Meadowlands,Duskwood,1056.0,13300.0,2310,5,Gleaming,704.664976,True,1
2334,2334,2359,2336,210000.0,Meadowlands,Nighthaven,1594.0,13175.0,2311,5,Common,802.057696,False,1
2335,2335,2360,2337,223500.0,Meadowlands,Stormwatch,1212.0,21384.0,2312,5,Common,853.618548,False,1
2336,2336,2361,2338,129900.0,Meadowlands,Dragonspire,627.0,7100.0,2313,6,Common,496.129975,True,1
2337,2337,2362,2339,84500.0,GnomeBurough,Mystvale,579.0,6780.0,2314,5,Common,322.732740,True,1

In [70]:
df2

        DI  Craftsmanship  EraConstructed
0        0              6            1201
1        1              7            1112
2        2              4            1338
3        3              5            1212
4        4              5            1042
...    ...            ...             ...
2358  2335              7            1651
2359  2336              6            1519
2360  2337              5            1142
2361  2338              5            1257
2362  2339              6            1005

[2363 rows x 3 columns]

In [72]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DI              2363 non-null   int64
 1   Craftsmanship   2363 non-null   int64
 2   EraConstructed  2363 non-null   int64
dtypes: int64(3)
memory usage: 55.5 KB

In [74]:
df2.describe()

                DI  Craftsmanship  EraConstructed
count  2363.000000    2363.000000     2363.000000
mean   1169.813796       6.123572     1409.574270
std     675.447687       1.409403      231.862362
min       0.000000       1.000000      887.000000
25%     584.500000       5.000000     1225.500000
50%    1170.000000       6.000000     1396.000000
75%    1753.500000       7.000000     1617.500000
max    2339.000000      10.000000     1799.000000

In [76]:
df2.sample(5)

        DI  Craftsmanship  EraConstructed
398    395              5            1303
2101  2081              7            1681
244    243              7            1293
97      96              7            1499
1288  1277              5            1496

In [78]:
df = df1.merge(df2, left_index=True, right_index=True, how="left")

In [80]:
df.sample(5)

,Unnamed: 0.1,Unnamed: 0,DI_x,TradeValue,RealmType,Enclave,LivingQuarters,ParcelSize (sqft),DI_y,StructuralIntegrity,ExteriorCharm,MonthlyPayment,AffordableDwelling,Prediction,DI,Craftsmanship,EraConstructed
1228,1228,1241,1230,160000.0,Meadowlands,Duskwood,1303.0,10147.0,1217,5,Gleaming,611.091578,True,1,1217,7,1791
1309,1309,1323,1311,143000.0,GnomeBurough,Sunspire,652.0,4426.0,1297,5,Common,546.163098,True,1,1297,5,1578
997,997,1007,998,185000.0,GnomeBurough,Oakenshade,795.0,3907.0,988,7,Common,706.574637,True,1,988,5,1392
741,741,750,742,184900.0,Meadowlands,Brightforge,1219.0,7632.0,733,5,Gleaming,706.192705,True,1,733,6,1785
782,782,791,783,115000.0,ArcaneMarket,Mystvale,1073.0,9000.0,774,5,Gleaming,439.222072,True,1,774,7,1729

### 1.2 Checking for data quality issues

In [83]:
df.isna().sum()

Unnamed: 0.1           0
Unnamed: 0             0
DI_x                   0
TradeValue             0
RealmType              0
Enclave                0
LivingQuarters         0
ParcelSize (sqft)      0
DI_y                   0
StructuralIntegrity    0
ExteriorCharm          0
MonthlyPayment         0
AffordableDwelling     0
Prediction             0
DI                     0
Craftsmanship          0
EraConstructed         0
dtype: int64