In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('set15_it1.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DI              2363 non-null   int64
 1   TradeValue      2363 non-null   float64
 2   RealmType       2363 non-null   object
 3   Enclave         2363 non-null   object
 4   LivingQuarters  2245 non-null   float64
 5   ParcelSize      2363 non-null   float64
 6   ParcelSizeUnit  2363 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 129.4+ KB

In [4]:
df.describe()

                DI     TradeValue  LivingQuarters     ParcelSize
count  2363.000000    2363.000000     2245.000000    2363.000000
mean   1169.813796  181150.568007     1157.071715    9889.801684
std     675.447687   82165.603916      392.780821    7954.890245
min       0.000000      61.500000      256.000000  -19378.000000
25%     584.500000  129825.000000      871.000000    7243.000000
50%    1170.000000  160000.000000     1116.000000    9320.000000
75%    1753.500000  213000.000000     1341.000000   11475.000000
max    2339.000000  755000.000000     4339.000000  164660.000000